{
	extends: ["rfs", "rfs/es6", "rfs/angular"],
	rules: {
		'max-nested-callbacks': ["error", 4],
        'angular/no-service-method': 0,
        'angular/controller-name': 0
    },
    "parserOptions": {
		'ecmaVersion': 7,
		'sourceType': "module"
	},
    globals: {
		'afterEach': true,
		'angular': true,
		'beforeEach': true,
		'browser': true,
		'by': true,
		'describe': true,
		'document': true,
		'element': true,
		'expect': true,
		'fit': true,
		'inject': true,
		'it': true,
		'protractor': true,
		'readJSON': true,
		'spyOn': true,
		'windowMock': true,
		'xit': true
	}
}