<section data-ng-if="vm.panel.loaded">
	<p class="skav-text-1--a">{{vm.model.situation.label}}</p>

	<div data-ng-repeat="option in vm.model.situation.options track by $index">

		<skav-radio-button
			class="skav-spacing__button skav-radio-group__options"
			is-required="true"
			ng-model="vm.model.situation.value"
			rb-key="{{option.key}}"
			rb-label="{{option.value}}"
			rb-radio-group="situation"
			rb-value="vm.model.situation.value">
		</skav-radio-button>

		<skav-notification
			aiep-analytics-status="replaceVehicle-{{'notification-' + $index}}"
			data-ng-if="option.message && vm.model.situation.value == option.key"
			id="{{'notification-' + $index}}"
			rb-bg-color="lightblue"
			rb-type="alert">
			<span class="skav-content" data-ng-bind-html="option.message"></span>
		</skav-notification>
	</div>

	<div data-ng-if="vm.model.error" class="ng-touched ng-invalid skav-spacing--half--bottom">
		<span class="skav-error-msg">{{vm.model.situation.requiredMessage}}</span>
	</div>
</section>